*.xlsx
*.csv
*.pyc
*.log
*.json
data/_input/prof_data_lateral_control.xlsx
data/a_working/control.xlsx
data/a_working/lateral.xlsx
data/_input/prof_data_lateral_control.xlsx
data/a_working/control.xlsx
data/a_working/lateral.xlsx
docs/Changes for lateral names.docx
